{
	email {$IMAGE2_TLS_EMAIL:ops@example.invalid}
	admin 127.0.0.1:2019
}

{$IMAGE2_SITE_ADDRESS} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	@internal_preview path /internal-preview /internal-preview/* /internal-preview-api/*
	respond @internal_preview 404

	reverse_proxy web:3000

	log {
		output stdout
		format json
	}
}
